.BG {
  min-height: 100vh;
  max-height: fit-content;
  width: 100%;
  background-image: url("/public/asset/BG.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
}

.BG h1 {
  width: 50%;
  font-size: 3rem;
  line-height: 1.5;
}

.rot {
  display: inline-block;
  background-color: #ffc844;
  transform: rotate(-2.5deg);
  padding: 0rem 0.5rem;
  border-radius: 0.8rem;
  border: 2px solid white;
}
.SCANCOLO button {
  background-color: #ffc844;
  padding: 0.8rem;
  border: none;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.SCANCOLO input {
  padding: 0.8rem;
  width: 20rem;
  border: none;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.space {
  margin-top: 1rem;
}
.space p {
  color: #dbdbdb;
  padding-top: 0.25rem;
}
.popUp {
  height: auto;
  padding: 2rem 3rem 2rem 3rem;
  margin-top: 3rem;
  margin-bottom: 8rem;
  background-color: rgb(255, 255, 255);
  color: black;
  width: 100%;
  display: none;
  transition: all 0.3s ease;
  border-radius: 25px;
  
}

.popUp.show {
  opacity: 1;
  display: block;
  transition: all 0.3s ease;
  padding: 0, 5rem, 0, 5rem;
  text-align: center;
}
.popUp.show a{
  text-align: center;
}
.report {
  padding: 2rem;
}

.reportHeadBox {
  border-bottom: black solid 1px;
}
.popUp.show .scanData {
  padding: 2rem;
}

a:hover {
  color: aqua;
  text-decoration: underline;
}
.closeButton {
  margin-top: 2rem;
  margin-left: 50%;
  margin-right: 50%;
}
.popUp.show .blocks .overallRisk,
.popUp.show .blocks .riskRating,
.popUp.show .scanInfo {
  width: 100%;
  padding: 2rem;
  margin: 5px;
  border: black solid 1px;
  border-radius: 10px;
  text-align: left;
}

.popUp.show .blocks{
  display: flex;
}
/* CSS for close button */
.outer {
  position: relative;
  margin: auto;
  width: 70px;
  margin-top: 50px;
  cursor: pointer;
}

.inner {
  width: inherit;
  text-align: center;
}

label { 
  font-size: .8em; 
  line-height: 4em;
  text-transform: uppercase;
  color: #000000;
  transition: all .3s ease-in;
  opacity: 0;
  cursor: pointer;
}

.inner:before, .inner:after {
  position: absolute;
  content: '';
  height: 1px;
  width: inherit;
  background: #000000;
  left: 0;
  transition: all .3s ease-in;
}

.inner:before {
  top: 50%; 
  transform: rotate(45deg);  
}

.inner:after {  
  bottom: 50%;
  transform: rotate(-45deg);  
}

.outer:hover label {
  opacity: 1;
}

.outer:hover .inner:before,
.outer:hover .inner:after {
  transform: rotate(0);
}

.outer:hover .inner:before {
  top: 0;
}

.outer:hover .inner:after {
  bottom: 0;
}
/* CSS for close button END */